<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/agendafx?useTimezone=true&amp;serverTimezone=UTC</property>

        <!-- to show sql codes on the console -->
        <property name="hibernate.show_sql">true</property>

        <!-- format the codes above -->
        <property name="hibernate.format_sql">true</property>

        <!-- modo da persistencia das tabelas -->
        <property name="hibernate.hbm2ddl.auto">update</property>

    </session-factory>
</hibernate-configuration>